<html>

<head>


</head>


<body>

    <input type="text" id="username" placeholder="enter Username">
    <input type="text" id="password" placeholder="enter password">
    <button onclick="LoginFun()">login</button>
    <p id="res"></p>

    <script>
        function LoginFun() {
            username = document.getElementById('username').value
            password = document.getElementById('password').value

            if ((username == 'user') && (password = '123')) {
                document.getElementById('res').innerHTML = "login success";
            } else {
                document.getElementById('res').innerHTML = "incorrect username or password";

            }



        }
    </script>


</body>

</html>