<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>objectarray</title>
</head>

<body>
    <script>
        student = [{
            name: 'farah',
            class: '10',
            contact: '12345566'
        }, {
            name: 'niha',
            class: '7',
            contact: '123445466'
        }, {
            name: 'suha',
            class: '11',
            contact: '345365566'
        }]
    </script>
</body>

</html>